# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

DataPreProcess/LRS2
DataPreProcess/video_pretrain
DataPreProcess/videodata_3dataset.txt
av_hubert
Experiments
videoencoder_pretrain/test_mouths
videoencoder_pretrain/test_out
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
yarn.lock

tmp/*
.gradio
*.pyc

*.pt
*.npy
*.npz
*.pth
*.pt.gz
*.pt.tar
*.pt.tar.gz
*.pt.tar.bz2
*.pt.tar.xz
*.pt.tar.lzma
*.pt.tar.lz
*.pt.tar.lz4